@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */
.layout {
	@apply pt-[52px];
}

/* Nav */
.navbar {
	@apply flex justify-between items-center fixed w-full h-[52px] top-0 shadow-sm bg-white;
}

.navbar__logo {
	@apply text-blue-800 text-lg font-semibold cursor-pointer px-[18px] py-0;
}

.navbar__list {
	@apply px-[18px] py-0 flex gap-3 items-center;
}

.navbar__button {
	@apply hidden cursor-pointer;
}

.char {
	display: inline-block;
	vertical-align: top;
}

.split-text {
	display: inline-block;
}

.navbar__list--item .char {
	display: inline-block;
	position: relative;
	color: transparent;
	overflow: hidden;
}

.navbar__list--item .char::before,
.navbar__list--item .char::after {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	color: black;
	content: attr(data-char);
	transition: transform 0.35s;
	transition-delay: calc(30ms * var(--char-index));
}

.navbar__list--item .char::before {
	@apply text-blue-800 font-semibold;
	transform: translateY(100%);
}

.navbar__list--item:hover .char::before {
	transform: translateY(0%);
	opacity: 1;
}

.navbar__list--item:hover .char::after {
	transform: translateY(-100%);
}

@media only screen and (max-width: 600px) {
	.navbar--mobile {
		@apply fixed w-full text-white h-screen top-[52px] bg-blue-800;
	}

	.navbar__list {
		@apply hidden;
	}

	.navbar__button {
		@apply block px-[18px] py-0;
	}

	.navbar__list--item--mobile {
		@apply cursor-pointer;
	}

	.navbar__list--item--mobile:hover {
		@apply text-gray-600;
	}

	.navbar__list--mobile {
		@apply flex flex-col gap-4 px-[18px] py-6;
	}
}
